/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

/* Universal styles */
* {
  box-sizing: border-box;
}

/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.5;
}

/* Header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*Paragraph styles */

p {
  margin: 0 0 20px;
  font-family: 'Shippori Mincho', serif;
}

/* Header styles */
header {
  padding: 30px 12% 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ABEBD2;
  box-shadow: 0 10px 70px rgb(39, 54, 54);
}

header h1 {
  color: rgb(21, 27, 31);
  background-color: rgb(242, 246, 247);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
  font-family: 'Handjet', cursive;
}

header h1:hover {

  color: #ABEBD2;
  background-color: black;
  transition: all 0.25s ease-in;

}

/* Navigation link styles */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 5px;
}

/* Navigation link styles */
nav a {
  text-decoration: none;
  padding: 5px 30px;
  color: rgb(0, 0, 0);
  background-image: linear-gradient (180deg rgb(183, 167, 183));
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;

}

nav a:hover {
  font-size: 2vw;
  background-color: white;
  font-display: black;
}

/* Last navigation link styles */
nav a:last-child {
  margin-right: 0;
}

/* Navigation icon styles */
.nav-icon {
  width: 30px;
  height: 30px;
  top: 3px;
  position: relative;
  margin-left: 100px;

}

/* Main content styles */
main {
  margin-top: 20px;
  margin-bottom: 45px;
}

/* Hero banner styles */
.hero-banner {
  background-color: rgba(90, 148, 157, 0.6);
  background-image: url("../images/mauritius2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding: 20% 15%;
  background-blend-mode: soft-light;
  display: flex;
  text-align: center;


}

/* Hero banner content styles */
.hero-banner div {
  flex: 0 0 100%;
}

.hero-banner a {
  text-decoration: none;
}

/* Hero banner h2 styles */
.hero-banner h2 {

  color: white;
  margin-right: 0;
  padding: 10px 5px;
  font-size: 45px;
  line-height: 2;
  display: inline;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

/* Hero banner h2 hover styles */
.hero-banner h2:hover {
  color: black;
  background-color: white;
  transition: all 0.25s ease-in;
}

/* Profile aside styles */
.profile-aside {
  background-color: #ABEBD2;
  color: white;
  text-align: left;
  padding: 30px;
  flex: 0.5;
}

.profile-picture {
  text-align: center;
  margin-bottom: 5px;
}

.profile-picture img {
  width: 300px;
  height: 400px;

}

/* About me section */
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-text {
  flex: 2;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 40px;
}

/* Smooth scrolling for links */
html {
  scroll-behavior: smooth;
}

/* Page section h2 styles */
.page-wrapper h2 {
  padding-left: 70px;
  background-color: #ABEBD2;
  color: black;
  line-height: 3;
  font-size: 40px;
  display: flex;
}

.page-section {
  margin: 50px 30px;
  padding: 5px 50px;
}

/* Work section styles */
.page-section#work {
  display: flex;
  flex-direction: column;

}

/* Grid container images */
#art {
  grid-area: art;
  background-image: url("../images/art2.jpg");

}

#websites {
  grid-area: websites;
  background-image: url("../images/wireframe2.jpg");
}

#solution {
  grid-area: solution;
  background-image: url("../images/laptop2.jpg");
}

#animal {
  grid-area: animal;
  background-image: url("../images/boxer.jpg");
}

/* Grid container styles */
.grid-container {
  display: grid;
  min-height: 900px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "art websites" "solution animal";
  grid-gap: 20px;
}

/* Grid item styles */
#animal,
#art,
#solution,
#websites {

  text-decoration: none;
  background-color: #ABEBD2;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.grid-container span {
  background-color: #ABEBD2;
  font-size: 25px;
  color: black;
  padding: 10px;
}

.grid-container h1 {
  color: black;
  font-size: 30px;
  background-color: white;
  padding: 10px;
}

/* Grid item hover styles */
#art span:hover,
#websites span:hover,
#solution span:hover,
#animal span:hover {
  background-color: black;
  color: white;
  transition: all 0.25s ease-in;
}

#art h1:hover,
#websites h1:hover,
#solution h1:hover,
#animal h1:hover {
  background-color: black;
  color: white;
  transition: all 0.25s ease-in;
}

/* Contact section styles */
.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(152, 251, 251);
  line-height: 3;
}

.contact h2 {
  color: black;
}

.contact address a {
  color: rgb(37, 89, 114);
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  display: inline-block;
  padding: 15px;
  background-repeat: no-repeat;
  padding-left: 20px;
  vertical-align: middle;
}

/* Contact images alignment */
.contact address img {
  vertical-align: middle;
}

/* contact hover styles */
.contact address a:hover {
  color: rgb(21, 57, 78);
  background-color: white;
  transition: all 0.25s ease-in;
}

/* Footer styles */
footer {
  background-color: #ABEBD2;
  color: #010101;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Media query for tablets and smaller screens */

@media screen and (max-width: 1000px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section>h1,
  .page-section>div {
    flex: 0 0 100%;
  }

  .page-section>h1 {
    border-right: none;
    border-bottom: 4px solid beige;
    margin-bottom: 20px;
    text-align: left;
    font-size: 7vw;
  }

  .grid-container {
    grid-template-areas: "art websites" "solution animal";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 900px;
  }

  #animal,
  #art,
  #solution,
  #websites {
    grid-column: auto;
    grid-row: auto;
  }

  footer {
    font-size: 14px;
  }
}

/* Media query for tablets and smaller screens */

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
    text-align: center;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  header h1 {
    font-size: :8vw;
  }

  .contact address {
    flex-direction: column;
    align-items: flex-start;
  }

  .grid-container {
    grid-template-areas: "art" "websites" "solution" "animal";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    min-height: 1800px;
  }

  nav a {
    padding: 5px 10px;
    font-size: 1.2rem;
  }

  .hero-banner h2 {
    font-size: 30px;
  }

  #animal,
  #art,
  #solution,
  #websites {
    grid-column: 1;
    grid-row: auto;
  }

  .page-section>h2,
  .page-section>div {
    flex: 0 0 100%;
  }

  .page-section>h2 {
    border-right: none;
    border-bottom: 4px solid beige;
    margin-bottom: 20px;
    text-align: left;
    font-size: 7vw;
  }

  footer {
    font-size: 12px;
  }
}